# Eclipse
.classpath
.project
.settings/
/MANIFEST.MF

.metadata/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
/target
bin/
Hemologica-Yodono-Backend/Hemologica-Yodono-Backend-web/target
Hemologica-Stock/Hemologica-Stock-ejb/bin/target

# Otros
*~
*.lock
*.DS_Store
*.swp
*.out
org.maven.ide.eclipse.prefs
.idea/
*.class
