# Eclipse
.classpath
.project
.settings/
/MANIFEST.MF

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
/target
bin/

# Otros
*~
*.lock
*.DS_Store
*.swp
*.out
org.maven.ide.eclipse.prefs
.idea/
*.class
