@CHARSET "UTF-8";

html .html {
	
}

head .head {
	
}

body .body {
	
}

title .title {
	
}

h1 .h1 {
	
}

h2 .h2 {
	
}

h3 .h3 {
	
}

h4 .h4 {
	
}

h5 .h5 {
	
}

h6 .h6 {
	
}

.page-header {
	margin: 0 0 0;
	border-bottom: none;
}

.page-header>.row {
	margin-left: 0px;
	margin-right: 0px;
}

.page-content {
	
}

.page-footer {
	
}

.container {
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5; 
	padding: 45px
}

.container>* {
	
}

.navbar-brand{
	
	margin-left: auto !important;
	margin-right: auto !important;
}

.navbar-inverse{
	background-color: #912b2b; 
	border-color: #912b2b;
}

.idiomas{
	
	border-bottom: 1px solid #e3e3e3;
    width: 100%;
	float: right;
	font-size: x-small;

}

.idiomas li{
	
	margin: 0px !important;
	padding: 0px !important;
}

.idiomas li + li{
	border-left: 1px solid #e3e3e3;
    padding-left: 10px !important;
    margin-left: 10px !important;
}
.idiomas ul{
	
	margin: 6px !important;

}