@CHARSET "UTF-8";

html .html {
	
}

head .head {
	
}

body .body {
	
}

title .title {
	
}

h1 .h1 {
	
}

h2 .h2 {
	
}

h3 .h3 {
	
}

h4 .h4 {
	
}

h5 .h5 {
	
}

h6 .h6 {
	
}

.page-header {
	margin: 0 0 0 0;
	border-bottom: none;
	padding-bottom: 2px !important;
}

.page-header>.row {
	margin-left: 0px;
	margin-right: 0px;
}

.page-content {
	
}

.page-footer {
	margin: 0 0 0 0;
	border-bottom: none;
	padding-bottom: 2px !important;
}

.page-footer>.row {
	margin-left: 0px;
	margin-right: 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5; 
	padding: 45px
}

.container>* {
	
}

.navbar-brand{
	
	margin-left: auto !important;
	margin-right: auto !important;
}

.header{
	width: 100%;
	float: right;
	
}

.idiomas{
	
	border-bottom: 1px solid #e3e3e3;
    width: 100%;
	float: right;
	font-size: x-small;

}

.footer-line{
	
	border-top: 1px solid #e3e3e3;
    width: 100%;
	float: right;
	font-size: x-small;

}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
/*   background-color: #efefef; */
  text-align: center;
  
}

.body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.idiomas li{
	
	margin: 0px !important;
	padding: 0px !important;
}

.idiomas li + li{
	border-left: 1px solid #e3e3e3;
    padding-left: 10px !important;
    margin-left: 10px !important;
}
.idiomas ul{
	
	margin: 6px !important;

}

.titulo{
	
	padding: auto !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin: auto !important;
}

#logo-img{
	max-width: 100%;
    max-height: 100%;
	
}

.img{
	height: 70px;
	width: 70px;
	padding: 0 !important;
}
.user{
	
	float: right;
}

.navbar-inverse{
	background-color: #912b2b; 
	border-color: #912b2b;
}

.userImage{
	
	height: 45px;
	width: 45px;

}

.logos{
	
    height: 40px;
    width: 200px;
    padding-right: 50px;

}
.div-user{
	
	padding-top: 7px;
	padding-bottom:5px;
	
}

.text-login{
	font-size: 10px;
	text-align: center;
	
}


.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
/*   float: none; */
  height: 100%;
}

.icon-list{
	
	background-size: 25px 25px !important;
	background-repeat: no-repeat;
	background-position: right;
	display: inline-block;
	width: 25px !important;
	height: 25px !important;
	float: right;
/* 	margin-left: 15px; */
	margin-right: 15px;
}

.cursor-pointer{
	cursor:pointer;
}

.icon-edit{
	
	background-image: url("#{resource['img/edit-icon.png']}");
}

.icon-bed{
	background-image: url("#{resource['img/bed.png']}");
}
.icon-brush{
	background-image: url("#{resource['img/brush.png']}");
}
.icon-calendar{
	background-image: url("#{resource['img/calendar.png']}");
}
.icon-lifeline{
	background-image: url("#{resource['img/lifeline.png']}");
}
.icon-man{
	background-image: url("#{resource['img/man.png']}");
}
.icon-phonendoscope{
	background-image: url("#{resource['img/phonendoscope.png']}");
}
.icon-balance{
	background-image: url("#{resource['img/balance.png']}");
}
.icon-card{
	background-image: url("#{resource['img/card.png']}");
}
.icon-coffee{
	background-image: url("#{resource['img/coffee.png']}");
}

.center{ 
	display:table; 
	margin:0 auto;
	padding-left: inherit;
}

.ul-padding{
	padding-left: 15px;
	padding-right: 15px;	
}
.item-requirements{
	font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.text-li{
   display: flex;
}
.margin-left{
	width:90%;
	word-wrap: break-word;
}

/* User FOrm */
.label-form-user{
	
	font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    position: relative;
    
	
}

.bank-info{
	
	border: black;
	
	padding: 15px;
	
}

#map-banks{
	width:600px;
	height:400px;

}

/* fieldset.scheduler-border { */
/*     border: 1px groove #ddd !important; */
/*     padding: 0 1.4em 1.4em 1.4em !important; */
/*     margin: 0 0 1.5em 0 !important; */
/*     -webkit-box-shadow:  0px 0px 0px 0px #000; */
/*             box-shadow:  0px 0px 0px 0px #000; */
/* } */

/* legend.scheduler-border { */
/*     font-size: 1.2em !important; */
/*     font-weight: bold !important; */
/*     text-align: left !important; */
/*     border:none; */
/* 	width:100px; */

/* } */

.label-bank{
	
	float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
	
}
.fieldset {
  padding: 1em;
/*   font:80%/1 sans-serif; */
  }
.label-bank {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;

}
.label-form-bank{
	
	
}

.image-user{
	
	width:150px;
	height:150px;
	padding: initial;
}







