@CHARSET "UTF-8";

html .html {
	
}

head .head {
	
}

body .body {
	
}

title .title {
	
}

h1 .h1 {
	
}

h2 .h2 {
	
}

h3 .h3 {
	
}

h4 .h4 {
	
}

h5 .h5 {
	
}

h6 .h6 {
	
}

.page-header {
	margin: 0 0 0 0;
	border-bottom: none;
	padding-bottom: 2px !important;
}

.page-header>.row {
	margin-left: 0px;
	margin-right: 0px;
}

.page-content {
	
}

.page-footer {
	
}

.container {
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5; 
	padding: 45px
}

.container>* {
	
}

.navbar-brand{
	
	margin-left: auto !important;
	margin-right: auto !important;
}

.header{
	width: 100%;
	float: right;
	
}

.idiomas{
	
	border-bottom: 1px solid #e3e3e3;
    width: 100%;
	float: right;
	font-size: x-small;

}

.idiomas li{
	
	margin: 0px !important;
	padding: 0px !important;
}

.idiomas li + li{
	border-left: 1px solid #e3e3e3;
    padding-left: 10px !important;
    margin-left: 10px !important;
}
.idiomas ul{
	
	margin: 6px !important;

}

.titulo{
	
	padding: auto !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin: auto !important;
}

#logo-img{
	max-width: 100%;
    max-height: 100%;
	
}

.img{
	height: 70px;
	width: 70px;
	padding: 0 !important;
}
.user{
	
	float: right;
}

.navbar-inverse{
	background-color: #912b2b; 
	border-color: #912b2b;
}

.userImage{
	
	height: 45px;
	width: 45px;

}
.div-user{
	
	padding-top: 7px;
	padding-bottom:5px;
	
}

.text-login{
	font-size: 10px;
	text-align: center;
	
}


.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
/*   float: none; */
  height: 100%;
}





